
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function hasRole(role) {
      let userPath = /databases/$(database)/documents/users/$(request.auth.uid);
      return isSignedIn() && exists(userPath) && get(userPath).data.role == role;
    }

    function isAdmin() {
      return hasRole('admin');
    }

    // Rules
    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
    }

    match /employees/{employeeUid} {
      allow get: if isOwner(employeeUid) || isAdmin();
      allow create: if isSignedIn() && request.auth.uid == employeeUid;
      allow update: if isOwner(employeeUid) || isAdmin();
      allow list: if isAdmin();
    }

    match /announcements/{id} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /applications/{id} {
      allow read: if isAdmin();
      allow create: if true;
      allow update, delete: if isAdmin();
    }

    match /quotes/{id} {
      allow read: if (isSignedIn() && resource.data.customerId == request.auth.uid) || isAdmin();
      allow create: if true;
      allow update, delete: if isAdmin();
    }

    match /jobs/{id} {
      allow read: if (isSignedIn() && (resource.data.customerId == request.auth.uid || request.auth.uid in resource.data.employeeIds)) || isAdmin();
      allow create: if (isSignedIn() && request.resource.data.customerId == request.auth.uid) || isAdmin();
      allow update: if (isSignedIn() && request.auth.uid in resource.data.employeeIds) || isAdmin();
      allow delete: if isAdmin();
    }
  }
}
